@import '../css/typography.css';
html {
  font-size: 15.5px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Euclid Regular';
  list-style-type: none;
  background-color: black;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #eae1d0;
  font-weight: 600;
}

.join-us-container > * {
  color: black;
}

.work-post-container > * > img {
  width: 100%;
}

.index-description {
  margin: auto;
  width: 60%;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.index-description > * {
}

.test {
  font-size: 12rem;
  color: white;
  margin: 10px;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  animation-fill-mode: forwards;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  animation-fill-mode: forwards;
  transform: rotate(0deg);
  animation-direction: alternate;
}
